/* SECTION 1*/
.sec1-content {
  padding: 100px 0px;
  color: #fff;
}
.sec1-bg {
  background-image: url('./assets/images/2.png');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center 35%;
}

.sec1-bg-filter {
  background: rgb(11,131,219);
  background: linear-gradient(90deg, rgba(11,131,219,0.5) 0%, rgba(255,255,255,0) 100%);
}

.sec1-content>div:first-child {
  font-size: 37px;
  font-weight: bold;
  line-height: 1;
}
.sec1-content>div:nth-child(2) {
  font-size: 37px;
  font-weight: bold;
  line-height: 1;
}
.sec1-content>div:nth-child(3) {
  margin-top: 10px;
  font-size: 25px;
}
.sec1-content>div:nth-child(4) {
  font-size: 25px;
}
.sec1-content>div:nth-child(5) {
  font-size: 25px;
}

/* SECTION 2 */
.sec2-bg {
  box-shadow: 10px 10px 3px rgba(000,000,000,0.9);
}
.sec2-content {
  padding: 40px 0px;
}
.sec2-content>div:first-child {
  font-size: 25px;
}
.sec2-content>div:nth-child(2) {
  font-size: 15px;
}

/* SECTION 3 */
.sec3-bg {
  background-image: url('./assets/images/3.png');
  background-size: 100% auto;
}
.sec3-content {
  padding: 100px 0px;
  text-align: center;
  color: #fff;
}
.sec3-content>div:first-child {
  font-size: 30px;
  font-weight: bold;
}
.sec3-content>div:last-child {
  margin-top: 30px;
}
.sec3-content>div:last-child>a {
  padding: 7px 15px 8px 15px;
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
}

/* SECTION 4 */
/* SECTION 2 */
.sec4-bg {
  box-shadow: 10px 10px 3px rgba(000,000,000,0.9);
}
.sec4-content {
  padding: 40px 0px;
}
.sec4-content>div:first-child {
  font-size: 25px;
}
.sec4-content>div:nth-child(2) {
  font-size: 15px;
}


@media (max-width: 1000px) {
  .sec1-content {
    width: auto;
  }
  .sec1-bg-filter {
    background: rgb(11,131,219);
  }
  .sec2-bg {
    background-color: #001a7bff;
    color: #fff;
  }
}